/******HTML elements*****/
body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color:#40514E;
}

h1 {
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #66BFBF;
    line-height: 2;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
    padding-bottom: 10px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

p {
    line-height: 2;
}

a {
    color: #11999E;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    margin:10px 20px
}

a:hover {
    color:#eaf6f6;
}

hr {
    border:dotted #eaf6f6 6px;
    border-bottom: none;
    width:4%;
    margin:100px auto;
}

/******CLASS elements*****/
.top_container {
    background-color: #eaf6f6;
    position: relative;
    padding: 100px;
}

.whoweare {
    width: 30%;
    margin:auto;
}

.middle-container {
    margin: 100px 0 100px 0;
}

.bottom-container{
    background-color:#66BFBF;
    padding: 50px 0 20px;
}
.pro {
    text-decoration: underline;
}

.skill-row {
    width: 50%;
    display:inline-block;
    margin: 10px auto;
    text-align: left;
}

.end {
    color:#eaf6f6;
    font-size: 0.75rem;
    padding: 20px 0;
}

.contact_message {
    width: 30%;
    margin: 40px auto 60px;
}
/******IMAGES elements*****/
.cloud_at_top {
    position: absolute;
    right: 600px;
    top: 40px;
}

.cloud_at_bottom {
    position: absolute;
    left: 250px;
    bottom: 400px;
}

.profilepic_image {
    height: 10%;
    width: 10%;
    border-radius: 50%;
}

.webdesigner_image {
    width: 25%;
    float:left;
    margin-right:30px;
    background-color:aliceblue;
    border-radius: 50%;
}

.indianfood_image {
    width: 25%;
    float:right;
    margin-left:30px;
    background-color: linen;
    border-radius: 50%;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }